    <div class="col-md-4">
     Facebook Status
      <% if @current_user != nil%>
          <form action="/status" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            Status
            </br>
                <textarea rows="5" cols="35" name="message"></textarea>
            </br>
            <input type="submit" value="Submit">
          </form>
      <% end %>
    </div>
    <div class="col-md-4">Stocks</div>
    <div class="col-md-4">Chat</div>
