/**
 * Created by Nathan on 10/18/15.
 */

//Quick and Dirty way to go about updating the Chat on homepage
$(document).load(function(e){

    //Attach an on ajax:success event handler to the chat message form
    $("#new_message").on("ajax:success", function(e, data, status, xhr){

    });
});

$(document).on('ajax:success', '.new_message', function(e) {
    alert("This work");
});

function LoadChat(){
    $.get( "/messages", function(data) {

        $("#chatMessages").text("");
        for (var key in data) {
            var message=data[key]
            var outputLine = "<p class=\"well well-sm\">" + message.user.name + ": " + message.message + "</p>"

            $( "#chatMessages" ).append( outputLine );

        }
    });
}

setInterval(function() {
    LoadChat()
}, 1300);