<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <div
    class="fb-like"
    data-share="true"
    data-width="450"
    data-show-faces="true">
  </div>
  <script>

      <% if Rails.env.development?%>
            window.fbAsyncInit = function() {
              FB.init({ appId      : '1633633020219850',
                        xfbml      : true,
                        version    : 'v2.4'
              });
            };
      <% else %>
          window.fbAsyncInit = function() {
              FB.init({ appId      : '1634892103427275',
                  xfbml      : true,
                  version    : 'v2.4'
              });
          };
      <% end %>

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
          return;
        }
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }
      (document, 'script', 'facebook-jssdk')
    );
  </script>
</body>
</html>
